body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

header {
    position: relative;
    height: 70vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px; 
background-color: rgb(43, 43, 43);}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}


nav {
    position: absolute;
    top: 20px;
    left: 20px;
   
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-flex;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
nav a:hover{
    color: gray;
}
.hero-text   {
    z-index: 1;
    margin-top: 10%;
}.hero-text p{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #989898;
    
}
.overlay h1{
    margin-top: 1.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.scroll-down {
    scroll-margin-top: 0.75%;
    background-color:  rgb(22, 22, 22);
    padding: 100px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.scroll-down h2 {
    color:  #989898;
   margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.box {
    position: relative;
    overflow: hidden;
}

.box img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    padding: auto;
}

.box p {
    position: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(30, 30, 30, 0.7);
    color: #fff;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.box:hover img {
    transform: scale(1.1);
}

.box:hover p {
    opacity: 1;
}
.contact {
    background-color:  rgb(22, 22, 22);
    padding: 50px 0;
}

.contact h2 {
    font-size: large;
    color: #ffffff;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-item {
    text-align: center;
    margin: 0 20px;
}

.contact-item h3 {
    font-size: small;
    color: #ffffff;
}

.contact-item p {
    font-size: small;
    margin: 10px 0 0;
    color: #ffffff;
}

body .work1 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work1 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work1 h1 {
    margin-top: 10%;
    color: #ffffff;
}

.work1 p { width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;

    color: #989898;
}

.imageswork1{
    padding: 50px;
    margin-top: 3%;
    margin-left: 3%;
}




body .work2 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work2 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work2 h1 {
    margin-top: 10%;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.work2 p { width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
   
    color:  #989898;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork {
    padding: 20px;
}

.artwork img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0%;
}



body .work3 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work3 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work3 h1 {
    margin-top: 10%;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.work3 p {width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
   
    color: #989898;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork3 {
    padding: 20px;
}

.artwork3 img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 25%;
}



body .work4 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work4 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work4 h1 {
    margin-top: 10%;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.work4 p {
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #989898;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork4 {
    padding: 30px;
}

.artwork4 img {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 12%;
    padding: 40px;
}


body .work5 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work5 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work5 h1 {
    margin-top: 10%;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.work5 p {width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #989898;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork5 {
    padding: 20px;
}

.artwork5 img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 25%;
    padding: 30px;
}


body .work6 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header .work6 {
    background: #000000;
    padding: 20px;
    text-align: center;
}

.work6 h1 {
    margin-top: 10%;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.work6 p {width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:  #989898;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork6 {
    padding: 20px;
}

.artwork6 img {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 14%;
    padding: 30px;
}


.back-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10%;
}

.back-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.back-button a:hover {
    background-color: #555;
}
